In [28]:
import numpy as np
import pandas as pd
import glob

In [53]:
all_data = pd.DataFrame()
for i in glob.glob('*.xlsx'):
    df = pd.read_excel(i)
    for row in range(df.shape[0]):
        for col in range(df.shape[1]):
            if df.iat[row,col] == 'Row No.':
                row_start = row
                break

    df = df.loc[row_start:]
    new_header = df.iloc[0]
    df = df[1:]
    df.columns = new_header
    df['Date'] = pd.to_datetime(df['Date'])
    all_data = all_data.append(df, ignore_index=True)

/var/folders/x3/cgv_73xn3595rbr_t_dgpwmr0000gp/T/ipykernel_31469/3599223935.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/var/folders/x3/cgv_73xn3595rbr_t_dgpwmr0000gp/T/ipykernel_31469/3599223935.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/var/folders/x3/cgv_73xn3595rbr_t_dgpwmr0000gp/T/ipykernel_31469/3599223935.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)

In [84]:
all_data

   Row No.       Date Customer No.     Reason
0        1 2020-03-01         1001       Bill
1        2 2020-03-02         1001  Complaint
2        3 2020-03-03         1001  Complaint
3        4 2020-03-04         1001       Bill
4        5 2020-03-05         1002       Bill
5        6 2020-03-06         1002       Bill
6        7 2020-03-07         1002  Complaint
7        8 2020-03-08         1002  Complaint
8        9 2020-03-09         1002       Bill
9       10 2020-03-10         1001        Bil
10       1 2020-02-01         1001       Bill
11       2 2020-02-02         1001  Complaint
12       3 2020-02-03         1001  Complaint
13       4 2020-02-04         1001       Bill
14       5 2020-02-05         1002       Bill
15       6 2020-02-06         1002       Bill
16       7 2020-02-07         1002  Complaint
17       8 2020-02-08         1002  Complaint
18       9 2020-02-09         1002       Bill
19      10 2020-02-10         1001        Bil
20       1 2020-01-01         1001       Bill
21       2 2020-01-02         1001  Complaint
22       3 2020-01-03         1001  Complaint
23       4 2020-01-04         1001       Bill
24       5 2020-01-05         1002       Bill
25       6 2020-01-06         1002       Bill
26       7 2020-01-07         1002  Complaint
27       8 2020-01-08         1002  Complaint
28       9 2020-01-09         1002       Bill
29      10 2020-01-10         1001        Bil

In [85]:
all_data.sort_values(by='Date', inplace=True)

In [87]:
all_data['Date_diff'] = all_data.groupby(['Customer No.','Reason']).diff()['Date']

In [91]:
all_data[all_data['Date_diff'] >'28 days']

   Row No.       Date Customer No.     Reason Date_diff
11       2 2020-02-02         1001  Complaint   30 days
16       7 2020-02-07         1002  Complaint   30 days
19      10 2020-02-10         1001        Bil   31 days
9       10 2020-03-10         1001        Bil   29 days

In [92]:
all_data['Date_diff'].dtypes

dtype('<m8[ns]')

In [81]:
a = all_data.groupby(['Customer No.','Reason']).diff()['Date']

In [82]:
a

0         NaT
1         NaT
2      1 days
3      3 days
4         NaT
5      1 days
6         NaT
7      1 days
8      3 days
9         NaT
10   -32 days
11   -30 days
12     1 days
13     3 days
14   -33 days
15     1 days
16   -30 days
17     1 days
18     3 days
19   -29 days
20   -34 days
21   -32 days
22     1 days
23     3 days
24   -35 days
25     1 days
26   -32 days
27     1 days
28     3 days
29   -31 days
Name: Date, dtype: timedelta64[ns]

In [76]:
a['Date'].mean()

Timedelta('-12 days +08:38:24')

In [44]:
all_data = pd.DataFrame()
for i in glob.glob('*.xlsx'):
    df = pd.read_excel(i)
    for row in range(df.shape[0]):
        for col in range (df.shape[1]):
            if df.iat[row,col] == 'Row No.':
                row_start = row
                break
    df = df.loc[row_start:]
    df.columns = df.iloc[0]


    new_header = df.iloc[0]
    df = df[1:]
    df.columns = new_header
    df['Date'] = pd.to_datetime(df['Date'])
    all_data = all_data.append(df, ignore_index=True)

/var/folders/x3/cgv_73xn3595rbr_t_dgpwmr0000gp/T/ipykernel_31469/41414240.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/var/folders/x3/cgv_73xn3595rbr_t_dgpwmr0000gp/T/ipykernel_31469/41414240.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
/var/folders/x3/cgv_73xn3595rbr_t_dgpwmr0000gp/T/ipykernel_31469/41414240.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)

In [45]:
all_data

   Row No.       Date Customer No.     Reason
0        1 2020-03-01         1001       Bill
1        2 2020-03-02         1001  Complaint
2        3 2020-03-03         1001  Complaint
3        4 2020-03-04         1001       Bill
4        5 2020-03-05         1002       Bill
5        6 2020-03-06         1002       Bill
6        7 2020-03-07         1002  Complaint
7        8 2020-03-08         1002  Complaint
8        9 2020-03-09         1002       Bill
9       10 2020-03-10         1001        Bil
10       1 2020-02-01         1001       Bill
11       2 2020-02-02         1001  Complaint
12       3 2020-02-03         1001  Complaint
13       4 2020-02-04         1001       Bill
14       5 2020-02-05         1002       Bill
15       6 2020-02-06         1002       Bill
16       7 2020-02-07         1002  Complaint
17       8 2020-02-08         1002  Complaint
18       9 2020-02-09         1002       Bill
19      10 2020-02-10         1001        Bil
20       1 2020-01-01         1001       Bill
21       2 2020-01-02         1001  Complaint
22       3 2020-01-03         1001  Complaint
23       4 2020-01-04         1001       Bill
24       5 2020-01-05         1002       Bill
25       6 2020-01-06         1002       Bill
26       7 2020-01-07         1002  Complaint
27       8 2020-01-08         1002  Complaint
28       9 2020-01-09         1002       Bill
29      10 2020-01-10         1001        Bil

In [40]:
all_data

Empty DataFrame
Columns: []
Index: []

In [36]:
all_data.dtypes

0
Row No.                 object
Date            datetime64[ns]
Customer No.            object
Reason                  object
dtype: object

In [13]:
import numpy as np
import pandas as pd
import glob
all_data = pd.DataFrame()
for i in glob.glob("*.xlsx"):
    df = pd.read_excel(i)
    new_header = df.iloc[0]
    df = df[1:]
    df.columns = new_header
    df['Date'] = pd.to_datetime(df['Date'])
    
    all_data = all_data.append(df,ignore_index=True)


# now save the data frame
all_data.head()

0
Row No.                 object
Date            datetime64[ns]
Customer No.            object
Reason                  object
dtype: object